# Server Configuration
PORT=5000
DATABASE_URL=file:./db/dev.db

# JWT Secrets
JWT_REFRESH_SECRET=your-refresh-secret-here
JWT_ACCESS_SECRET=your-access-secret-here

# The Movie DB API
TMDB_API_KEY=your-tmdb-api-key-here
TMDB_BEARER_TOKEN=your-tmdb-bearer-token-here

# Client Configuration
APP_NAME=Kadha
CLIENT_URL=http://localhost:3000
APP_URL=http://localhost:3000

# Client Environment Variables (for Vite)
VITE_APP_NAME=Kadha
VITE_APP_URL=http://localhost:3000
VITE_API_URL=http://localhost:5000
